// custom.scss

@use "variables";

body {
  color: variables.$text-color;
  margin: variables.$spacing-unit;

  .button {
    background-color: variables.$primary-color;
    color: white;
    padding: variables.$spacing-unit;
    border: none;
    border-radius: variables.$border-radius;
    box-shadow: variables.$shadow-small;
    cursor: pointer;
    transition: background-color variables.$transition-speed;
  }
}
