// custom.scss

@use "variables";

body {
  color: $text-color;
  margin: $spacing-unit;

  .button {
    background-color: $primary-color;
    color: white;
    padding: $spacing-unit;
    border: none;
    border-radius: $border-radius;
    box-shadow: $shadow-small;
    cursor: pointer;
    transition: background-color $transition-speed;
  }
}
