{% comment %} Base theme layout {% endcomment %}
<!doctype html>
<html>
  <head>
    {{ content_for_header }}
    <title>Theme</title>
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
